  <div class="post__container">
    <div class="post__meta"> <!-- this element is from the posts.ejs -->
      <a href="/profile/<%= data.author.id %>" class="post__meta--author-pf--wrapper">
        <img src="<%= data.author.imgURL %>" alt="Author Profile" class="post__meta--author-pf">
      </a>
      <a href="/profile/<%= data.author.id %>" class="post__meta--author-name"><%=data.author.username%></a>
      <p class="post__meta--date-posted">
        <% const dates = data.createdAtDifferences;%>
        <% if (dates.years !== 0) { %>
          <%= dates.years > 1 ? `${dates.years} years` : `${dates.years} year` %> ago
        <% } else if (dates.months !== 0) { %>
          <%= dates.months > 1 ? `${dates.months} months` : `${dates.months} month` %> ago
        <% } else if (dates.days !== 0) { %>
          <%= dates.days > 1 ? `${dates.days} days` : `${dates.days} day` %> ago
        <% } else if (dates.hours !== 0) {%>
          <%= dates.hours > 1 ? `${dates.hours} hours` : `${dates.hours} hour` %> ago
        <% } else if (dates.minutes !== 0) { %>
          <%= dates.minutes > 1 ? `${dates.minutes} minutes` : `${dates.minutes} minute` %> ago
        <% } else { %>
          Just now
        <% } %>
      </p>
    </div>
    <div class="post__info">
      <h1 class="post__info--title"><%= data.title %></h1>
      <% if (data.desc) { %>
      <p class="post__info--desc"><%= data.desc %></p>
      <% } %>
    </div>
    <% if (data.imgURL) { %>
    <div class="post__image--container">
      <img
        src="<%=data.imgURL%>"
        alt="post image"
        class="post__image"
        loading="lazy"
      />
    </div>
    <% } %>
    <div class="post__go-back">
      <button class="post__go-back--button go-back-button">B</button>
    </div>
    <div class="post__delete--container">
      <button class="post__delete--button delete-button" data-id="<%= data._id %>">
        D
      </button>
    </div>
  </div>
  <script>
    document.querySelector(".go-back-button").addEventListener("click", (e) => {
      window.location.href = "/posts";
    });

    const deleteButton = document.querySelector(".delete-button");

    deleteButton.addEventListener("click", async (e) => {
      const postID = deleteButton.dataset.id;
      const endpoint = `/posts/${postID}`;

      const response = await fetch(endpoint, {
        method: "DELETE",
      });

      const data = await response.json();

      window.location.href = data.redirect;
    });
  </script>
